body {
  text-align: center;
}
h1 {
  font-size: 100px;
}

button {
  font-size: 50px;
  font-style: normal;
}

.grid-container {
  display: grid;
}

#timestamp {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
}
#last-updated {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
}
/* Style for input */
input[type="text"] {
  padding: 30px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 28px;
  width: 50%;
  background-color: #4d90fe;
  color: #fff;
  line-height: 1.6;
  font-family: "Courier New", monospace;
  border-bottom: 2px solid #2a5c91;
  resize: both;
  margin-bottom: 10px;
}

/* Style for input on focus */
input[type="text"]:focus {
  outline: none;
  border-color: #4d90fe;
  box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
}

#text-display {
  font-size: 40px;
  background-color: lightblue;
  padding: 20px;
  margin: 30px;
}
